:root {
  --color-soft-orange: hsl(35, 77%, 62%);
  --color-soft-red: hsl(5, 85%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-off-white: hsl(36, 100%, 99%);
  --color-grayish-blue-3: hsl(233, 8%, 79%);
  --color-grayish-blue-6: hsl(236, 13%, 42%);
  --color-very-dark-blue: hsl(240, 100%, 5%);
}
