@use '../abstracts/' as *;

.trending {
  display: grid;
  justify-content: space-between;
  row-gap: rem(34);
  grid-area: trending;

  @include breakpoint(large) {
    column-gap: rem(30);
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    display: grid;
    column-gap: rem(24);
    grid-template-columns: rem(100) auto;

    &__content {
      .headline-2--sm {
        margin-block-end: rem(10);
        @include on-hover-focus(color, var(--color-soft-red));
      }
    }

    &__number {
      display: block;
      margin-block-end: rem(16);
      font-size: var(--font-size-6);
      font-weight: 700;
      color: var(--color-grayish-blue-3);
    }
  }
}
